@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", sans-serif;
  --font-mono: "Lato", sans-serif;
}

:root {
  --background: #bbb;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-sans);
  line-height: 1.5;
  font-weight: bold;
}

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}
