@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", sans-serif;
  --font-mono: "Lato", sans-serif;
}

:root {
  --background: #bbb;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-sans);
  line-height: 1.5;
  font-weight: bold;
}

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

p {
  color: #8f8f8f;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.navbar {
  background-color: rgb(1, 54, 34);
}

.cardConteiner {
  width: auto;
  margin-top: 10px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  max-height: auto;
}

.AboutMe {
  background-color: #eef3f7;
  position: relative;
  padding: 10px;
  margin: 50px -5px 10px;
  text-align: center;
}

.textAboutMe {
  font-size: large;
}

.cardDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-width: 2px;
  overflow: hidden;
  border-color: rgb(28 25 23);
  padding: 10px;
  width: 400px;
  height: 400px;
  margin-top: 16px;
  float: left;
  text-align: center;
}

.cardTitle {
  font-size: larger;
  font-family: var(--font-sans);
  font-weight: bolder;
}

.imgCard {
  padding-bottom: 5%;
  height: 250px;
  width: 250px;
}

.contactMe {
  background-color: rgba(171, 172, 170, 0.397);
  padding: 1px;
  margin: 5px -5px;
}

.contactBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
}

.contactForm {
  display: flex;
  justify-content: center;
}

.inputContact {
  padding: 2px;
  background-color: transparent;
  border: 2px solid #262c36;
  border-radius: 2px;
  outline: none;
  margin-bottom: 2px;
}

.textContact {
  padding: 2px;
  margin-bottom: 4px;
  background: transparent;
  outline: none;
}

.buttonContact {
  font-weight: 900;
  font-size: xx-large;
  text-align: center;
  display: inline-block;
  border-radius: 0.375rem;
  color: white;
  background: linear-gradient(0.25turn, #fa5afa, #ee1d5c, #000000);
}

.buttonContact:hover {
  background: linear-gradient(0.25turn, #000000, #ee1d5c, #fa5afa);
}

.buttonContact:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.mail {
  color: #eef3f7;
  text-decoration: none;
  font-family: var(--font-mono);
  font-style: italic;
  font-variant: small-caps slashed-zero;
}

footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  margin-block-end: 2px;
  margin-block-start: 8px;
  background: #eef3f7;
  border-top: 1px solid #cccccc;
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-top: 1rem;
}

h3 {
  text-decoration: underline;
}

.Greetings {
  background-color: #eef3f7;
  position: relative;
  text-align: center;
  padding: 2rem 0;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

header {
  background-color: #52616b;
  margin: auto -5px;
  padding: 4px;
  box-shadow: 0 0 10px 0 rgb(174, 189, 202);
}

.Lenguage {
  margin-left: auto;
}

.IconDiv {
  margin-top: 15px;
  align-items: center;
  text-align: center;
}

.iconImg {
  border-radius: 40%;
  height: 60px;
  width: 60px;
  margin-left: 10px;
  margin-top: 10px;
}

.IconText {
  text-align: center;
  margin-left: auto;
}

.KnowsTitle {
  text-align: center;
}

.Icons {
  margin-top: 10px;
  width: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.table-skills {
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1250px) {
  .table-skills {
    flex-direction: column;
  }
}

.table {
  margin-top: 20px;
  border-style: groove;
  border: 2px solid #52616b;
  width: 50%;
}

.educacion, .cursos {
  height: 300px;
  flex-basis: 50%;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0 0.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.cursos > h3, .educacion > h3 {
  padding: 0 1rem;
}